#title {
    color: white;
    text-decoration: none;
}

#friends {
    width: 20rem;
    height: 100%;
    border-color: rgb(32, 31, 31);
    border: 2px none;
    /* padding-top: 91rem; */
    position: absolute;
    background: rgb(20, 20, 20);
}

#Friendstip {
    position: absolute;
    top: 45%;
    left: 20px;
}

#nochat {
    position: absolute;
    top: 45%;
    left: 60%;
}

#easteregg {
    position: absolute;
    top: 47%;
    left: 60%;
}
.user{
    display:block;
    text-align: center;
    padding-bottom: 15px;
}
.userName {
    display:block;
    /* position: absolute; */
    /* top: 7%;
    left: 1%; */
}
.userImg {
    display:block;
    /* position: absolute; */
    height: 50px;
    /* top: 10%;
    left: 1%;  */
    /* weight:5%; */
    border-radius:100%;
    margin:0px auto;
    
}

#previous {
    position: absolute;
    top: 95%;
    left: 1%;
}

#next {
    position: absolute;
    top: 95%;
    left: 7%;
}

#page {
    position: absolute;
    top: 95%;
    left: 4%;
    font-size: 20px;
}

#footer {
    position: absolute;
    top: 90%;
    font-size: 12px;
}

#login {
    color: white;
    text-decoration: none;
}