#title {
    color: white;
    text-decoration: none;
}

#friends {
    width: 20rem;
    height: 100%;
    border-color: rgb(32, 31, 31);
    border: 2px none;
    padding-top: 91rem;
    background: rgb(20, 20, 20);
}

#Friendstip {
    position: absolute;
    top: 45%;
    left: 20px;
}

#nochat {
    position: absolute;
    top: 45%;
    left: 60%;
}

#easteregg {
    position: absolute;
    top: 47%;
    left: 60%;
}

#chat1 {
    position: absolute;
    top: 7%;
    left: 1%;
}

#chat2 {
    position: absolute;
    top: 17%;
    left: 1%;
}

#chat3 {
    position: absolute;
    top: 27%;
    left: 1%;
}

#chat4 {
    position: absolute;
    top: 37%;
    left: 1%;
}

#chat5 {
    position: absolute;
    top: 47%;
    left: 1%;
}

#chat6 {
    position: absolute;
    top: 57%;
    left: 1%;
}

#img1 {
    position: absolute;
    height: 5%;
    top: 10%;
    left: 1%;
    border-radius:114514px;
}

#img2 {
    position: absolute;
    height: 5%;
    top: 20%;
    left: 1%;
    border-radius:114514px;
}

#img3 {
    position: absolute;
    height: 5%;
    top: 30%;
    left: 1%;
    border-radius:114514px;
}

#img4 {
    position: absolute;
    height: 5%;
    top: 40%;
    left: 1%;
    border-radius:114514px;
}

#img5 {
    position: absolute;
    height: 5%;
    top: 50%;
    left: 1%;
    border-radius:114514px;
}

#img6 {
    position: absolute;
    height: 5%;
    top: 60%;
    left: 1%;
    border-radius:114514px;
}