h1 {
    text-align: center;
}
p {
    font-size: 60px;
}
#buttons {
    position: relative;
    width: 100%;
    top: 20%;
}
#join {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}