h1 {
    text-align: center;
}
#buttons {
    position: relative;
    width: 100%;
    top: 20%;
}
#join {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}
h2 {
    position: absolute;
    top: 15rem;
}
#description {
    position: absolute;
    top: 23rem;
    font-size: 20px;
}
footer {
    position: absolute;
    top: 93%;
    left: 45%;
    text-align: center;
}